@page "/counter"
@attribute [TabItemOption(Text = "Counter")]

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<Button Color="Color.Success" OnClick="GetHostGiteeAsync">GetHostGiteeAsync</Button>


<Button Color="Color.Success" OnClick="KeyboardOnClick">KeyboardOnClick</Button>


<Button Color="Color.Success" OnClick="OnClickKeyboard">OnClickKeyboard</Button>
<Button Color="Color.Success" OnClick="OnResizeDialogClick">OnResizeDialogClick</Button>
<Button Color="Color.Success" OnClick="OnCustomerHeaderToolbarClick">OnCustomerHeaderToolbarClick</Button>
<Button Color="Color.Success" OnClick="ComponentOnClick">ComponentOnClick</Button>
<Button Color="Color.Success" OnClick="BodyContextOnClick">BodyContextOnClick</Button>
<Button Color="Color.Success" OnClick="OnClickShowDataById">OnClickShowDataById</Button>
<Button Color="Color.Success" OnClick="CloseButtonShow">CloseButtonShow</Button>
<Button Color="Color.Success" OnClick="ShowNoHeaderCloseButtonDialog">ShowNoHeaderCloseButtonDialog</Button>
<Button Color="Color.Success" OnClick="ShowDialogLoop">ShowDialogLoop</Button>
<Button Color="Color.Success" OnClick="OnResultDialogClick">OnResultDialogClick</Button>
<Button Color="Color.Success" OnClick="OnConfirmModalClick">OnConfirmModalClick</Button>
<Button Color="Color.Success" OnClick="OnEditDialogClick">OnEditDialogClick</Button>
<Button Color="Color.Success" OnClick="OnSearchDialogClick">OnSearchDialogClick</Button>
<Button Color="Color.Success" OnClick="OnSaveDialogClick">OnSaveDialogClick</Button>
<Button Color="Color.Success" OnClick="OnSizeDialogClick">OnSizeDialogClick</Button>
<Button Color="Color.Success" OnClick="OnPrintDialogClick">OnPrintDialogClick</Button>
<Button Color="Color.Success" OnClick="OnExportPdfDialogClick">OnExportPdfDialogClick</Button>
<Button Color="Color.Success" OnClick="OnMaximizeDialogClick">OnMaximizeDialogClick</Button>
<Button Color="Color.Success" OnClick="OnErrorDialog">OnErrorDialog</Button>
<Button Color="Color.Success" OnClick="OnEmailButtonClick">OnEmailButtonClick</Button>




