@page "/"
@attribute [TabItemOption(Text = "Index", Closable = false)]

@inject IPrintingService PrintingService
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<Button OnClick="OnPrintAsync" IsAsync>打印预览报表</Button>
@code {
    private static string base64String = "";
    private async Task OnPrintAsync()
    {
        Report report = new Report();
        report.Load("Report/纸箱入库标签.frx");
        //report.RegisterData(dataSet, "Data");
        report.Prepare();
        var base64 = report.SaveToStringBase64();
        using (var pdfStream = new MemoryStream())
        {
            report.Export(new PDFSimpleExport() { ImageDpi = 900 }, pdfStream);
            var bytes = pdfStream.ToArray();
            base64String = Convert.ToBase64String(bytes);
        }
        await PrintingService.Print(new PrintOptions(base64String) { Base64 = true });

    }
}


