<div class="bb-contributor">
    <img src="images/avatars/150-1.jpg" />
    <div class="bb-contributor-main">
        <div class="bb-contributor-item">
            <label>姓名：</label>
            <span>TEST</span>
        </div>
        <div class="bb-contributor-item">
            <label>姓名：</label>
            <span>TEST3</span>
        </div>
    </div>
</div>
