<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="BlazorFileUpload.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes @rendermode="RenderMode.InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script>
        window.getElementWidth = (elementId) => {
            const element = document.getElementById(elementId);
            return element ? element.offsetWidth : 0;
        };
    </script>
    <script>
        window.observeElementWidth = (elementId, dotNetHelper) => {
            const element = document.getElementById(elementId);
            if (element) {
                const resizeObserver = new ResizeObserver(entries => {
                    for (let entry of entries) {
                        dotNetHelper.invokeMethodAsync('OnElementWidthChanged', entry.contentRect.width);
                    }
                });
                resizeObserver.observe(element);
            }
        };
    </script>
</body>

</html>
